.contactListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 450px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: black 1px 0 5px, rgb(133, 102, 24) 1px 1px 10px;
  background-color: rgba(0, 0, 0, 0.397);
}

.contactInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 285px;
}

.deleteContactBtn {
  padding: 5px;
  width: 100px;
  height: 30px;
  border-color: transparent;
  outline: none;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.24);
  font-size: 14px;
  text-transform: capitalize;
  color: seashell;
  box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 10px 10px inset;
  transition: transform 0.3s ease-in-out;
}

.deleteContactBtn:hover {
  background: rgba(0, 0, 0, 0.2);
}
