.filterLabel {
  width: 300px;
  font-size: 18px;
  text-align: center;
}

.filterInput {
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #00223e;
  box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 5px 0px;
}
