.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  /* box-shadow: rgba(165, 100, 31, 0.92) 5px 5px 15px 10px inset; */

  /* box-shadow: 0 0 5px 0, rgba(227, 139, 45, 0.92) 5px 5px 15px 10px inset; */
  /* box-shadow: 0 0 10px 2px inset, rgba(227, 139, 45, 0.92) 0 0 7px 5px inset; */
  background-color: rgba(255, 255, 255, 0.557);
  background-color: rgba(66, 45, 34, 0.167);
}

.formLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  display: flex;
  gap: 8px;
}

.formInput {
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #00223e;
  box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 5px 0px;
}

.button {
  padding: 10px;
  width: 150px;
  height: 40px;
  border-color: transparent;
  outline: none;
  border-radius: 15px;
  background: transparent;
  font-size: 14px;
  text-transform: capitalize;
  color: seashell;
  /* box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 10px 10px inset; */
  box-shadow: 0 0 10px 2px inset, rgba(227, 139, 45, 0.92) 0 0 7px 5px inset;

  transition: transform 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2px #fff5b7, 0 0 5px #ec9e38, 0 0 15px #c02c03,
    0 0 30px #ffffff;
  animation: pulsate-light 2s infinite alternate;
}

@keyframes pulsate-light {
  100% {
    box-shadow: 0 0 2px #fff, 0 0 10px #fff5b7, 0 0 20px #ec9e38,
      0 0 35px #c02c03;
  }
  0% {
    box-shadow: 0 0 2px #fff, 0 0 7px #fff5b7, 0 0 12px #ec9e38,
      0 0 25px #c02c03;
  }
}
