/* .container {
  max-width: 1280px;
  min-height: 100vh;
  padding: 0 20px;
  padding-bottom: 20px;
  margin: 15px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 20px 0;
} */

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  width: 100%;
  padding: 20px;
  border-bottom: 1px solid goldenrod;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navLink {
  font-size: 18px;
}

/* .link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
} */

.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}
