.contactList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  height: 200px;
  padding: 10px;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #828282;
  /* Колір полоси скролбару */
  border-radius: 3px;
  /* Радіус кутів */
}
